.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  background: black;
  transition: opacity 0.8s ease;
}

.bg-video.show {
  opacity: 1;
}